@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
